table, th, td{border: 1px solid #aed0df; border-collapse: collapse;}
.day_progress{margin:0 auto; width: 590px;position:relative;}
#calendar{border-color: #77bee8; color:#77bee8; font-size:12px;}
.day_progress dl{overflow: auto;zoom:1;}
.day_progress dt,.day_progress dd{text-align:left; width: 77px; height: 49px; padding-left: 6px; background: #ffffff; color: #77bee8; vertical-align: top;position: relative; float: left; border: 1px solid #AED0DF; border-width: 1px 0 0 1px; font-weight: bold;}
#head dt{border: none; border-bottom: 1px solid #aed0df; overflow: auto; zoom:1; width: 84px; height: 27px; line-height: 27px; padding: 0;}
#head span{cursor:pointer;}
dt#tittle{width:252px; font-size:20px; color: #1c79c2; text-align: center; }
#days dt{border: none; font-weight:bold; text-align:center; width: 84px; height: 20px; line-height: 20px; padding: 0;}
#today{color:#F00; font-weight:bold;}
.last_week dd{border-bottom: 1px solid #AED0DF;}
.day_detail{position: absolute; top: 0 ;left: 0; width: 200px; height:60px; background: #FFF; border-radius: 4px ; border: 2px solid #439FD8; text-align: center; display: none;}
.award{display: none; position:absolute; width: 22px; height: 22px; top:0; right:0; background: url(../image/sprite.png) 0 -92px no-repeat; _background: url(../image/sprite_ie6.png) 0 -92px no-repeat;}
.award-bg0{display: none; background: url(../image/sprite.png) -33px -85px no-repeat; _background: url(../image/sprite_ie6.png) -33px -85px no-repeat; width: 48px; height: 40px; position: absolute; left: 18px; top: 5px;}
.award-bg1,.award-bg2,.award-bg3{display: none; background: url(../image/sprite.png) -89px -89px no-repeat; _background: url(../image/sprite_ie6.png) -89px -89px no-repeat; width: 30px; height: 30px; position: absolute; left: 28px; top: 12px;}
.award-bg2{background: url(../image/sprite.png) -125px -89px no-repeat; _background: url(../image/sprite_ie6.png) -125px -89px no-repeat;}
.award-bg3{background: url(../image/sprite.png) -160px -89px no-repeat; _background: url(../image/sprite_ie6.png) -160px -89px no-repeat;}
