@charset "utf-8";
/* CSS Document */
body{
    font: 12px "宋体";
}
img{
    border:0;
}
a{
    text-decoration: none;
    text-align: center;
    outline: none;
}
.clear_float{
    clear:both;
}
.main_container{
    width:600px;
    height:525px;
    margin:0 auto;
    background: #4cc2fc url(../image/bg.png) no-repeat;
}

.banner{
    width:600px;
    height:142px;
    overflow:hidden;
}

.person_info{
    float:left;
    width:290px;
    height:100%;
}

.avatar{
    display:block;
    float:left;
    width:100px;
    height:120px;
    margin-top: 9px;
    margin-left:12px;
    border:1px solid #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.pinfo_content{
    margin-left: 125px;
    margin-top: 3px;
}

.person_info .person_name{
    font-weight:bold;
    color:#ffffff;
    line-height:25px;
    display: block;
}

.sub_info_title{
    color:#ffffff;
    line-height:20px;
    font-size:12px;
    display: inline-block;
}

.sub_info_content{
    font-size:12px;
    color: #f5d53d;
    line-height:20px;
    font-weight: bold;
}

.fo_btn{
    width:100px;
    height: 32px;
    background:-webkit-gradient(linear,left top,left bottom,from(#c757c0),to(#f5a0ff));
    cursor:pointer;
    display: inline-block;
    position: relative;
    top: 8px;
    left: -2px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
    color:#ffffff;
    font-weight:bold;
    line-height:20px;
    box-shadow:1px 1px 1px #000000;
}
.fo_btn:hover{
    background:-webkit-gradient(linear,left top,left bottom,from(#f5a0ff),to(#c757c0));
    cursor:pointer;
}


.fo_btn_icon{
    background:url(../image/sprite.png) no-repeat -210px -57px;
    width:22px;
    height:20px;
    display:inline-block;
    margin-top:6px;
	margin-left:-10px;
}

.fo_btn_text{
    vertical-align:super;
	margin-left:20px;
}

.star_rank{
    width:120px;
    height:100%;
    float:left;
    position :relative;
}

.star_rank .icon{
    height:42px;
    width:67px;
    background:url(../image/sprite.png) 0 0 no-repeat;
    position:absolute;
}

.rank_icon{
    background: url(../image/sprite.png) 0 0 no-repeat;
    width: 66px;
    height: 40px;
    display: inline-block;
    position: absolute;
}

.star_content{
    padding: 28px 0 0 20px;
}

.star_journey{
    width:145px;
    height:100%;
    float:left;
    padding-left: 19px;
    position:relative;
}

.star_journey .sub_info_title,.star_journey .sub_info_content{
    line-height:12px;
}

.star_journey .icon{
    width:67px;
    height:42px;
    background:url(../image/sprite.png)no-repeat -77px 0;
    position:absolute;
}

.journey_icon{
    background: url(../image/sprite.png) -75px 0 no-repeat;
    width: 66px;
    height: 40px;
    display: inline-block;
    position: absolute;
}

.journey_content{
    padding-top: 17px;
}

.journey_content p{
    padding-left: 18px;
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
}

.journey_content b{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 2px;
    position: relative;
    top: 14px;
}

b.all{
    background: url(../image/sprite.png) 0 -53px no-repeat;
}
b.month{
    background: url(../image/sprite.png) -29px -53px no-repeat;
}
b.week{
    background: url(../image/sprite.png) -58px -53px no-repeat;
}

.star_journey .journey_date{
    color: #a0d5fb;
    display: block;
    padding-left: 33px;
}

.tabs{
    margin: 0 4px 0 0;
    height: 30px;
}

.tabs li{
    margin-left: 4px;
    float:left;
}

.tabs li a{
    display: block;
    color: #5a9fd4;
    width: 145px;
    height: 30px;
    line-height: 30px;
    opacity:0.6;
    background: #ffffff;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.tabs li a.active,
.tabs li a:hover{
    color: #1c79c2;
    font-weight: bold;
    opacity: 1;
    background: #ffffff;
}

.main_content{
    margin: 0 4px;
    height: 348px;
    background-color: #ffffff;
}

.content{
    display:none;
    height: 100%;
    width: 592px;
}

.cactive{
    display:block;
}

#tab3 .sjheader{
    width:100%;
    height: 35px;
    border-bottom:1px solid #aed0df;
    position:relative;
}

#tab3 .sjhlbtn,.sjhrbtn{
    color:#77bee8;
    cursor:pointer;
    font-size:12px;
    position:absolute;
}

#tab3 .sjhlbtn{
    top: 13px;
    text-align:right;
    left:175px;
}

#tab3 .sjhrbtn{
    text-align:left;
    top: 13px;
    right:175px;
}

#tab3 .sjheadertitle{
    font-weight:bold;
    color:#1c79c2;
    padding:4px 0;
    font-size:20px;
    position:absolute;
    left:235px;
    top:5px;
}

#tab3 .sjcontent{
    height:260px;
    width:100%;
}

#tab3 .sjmonth_rank{
    height:75px;
    position:relative;
    top:0;
    left:0;
}

.sjrank_title{
    width:133px;
    height:32px;
    background:url(../image/sprite.png) no-repeat 0 -284px;
    line-height:32px;
    display:inline-block;
    padding-left:10px;
    color:#ffffff;
}

#tab3 .sjmonth_rank .sjrank_title{
    margin-top:20px;
}

#tab3 .sjrank_content{
    height:66px;
    width:237px;
    background:url(../image/sprite.png) no-repeat 0 -132px;
    display:inline-block;
    vertical-align:middle;
    margin-left:30px;
}

#tab3 .sjrank_icon{
    background:url(../image/sprite.png) no-repeat -30px -55px;
    width:25px;
    height:25px;
    border:0 solid #ffffff;
    margin-left:60px;
    margin-top:20px;
    display:inline-block;
}

#tab3 .sjrank_content .sub_info_title{
    vertical-align:middle;
    position:relative;
    top:-10px;
}

#tab3 .rank_cells{
    margin-left:20px;
    width:540px;
    height:191px;
    background:url(../image/travel-bg.png) no-repeat;
    position:relative;
}

#tab3 .week_cell{
    width:175px;
    height:90px;
    display:inline-block;
    position: absolute;
}

#week_cell1{
    top:10px;
    left:10px;
}

#week_cell2{
    top:10px;
    left:195px;
}

#week_cell3{
    top:10px;
    left:380px;
}

#week_cell5{
    top:110px;
    left:100px;
}

#week_cell4{
    position: absolute;
    top:110px;
    left:295px;
}

.week_cell_date{
    position:relative;
    left:30px;
    top:0;
    color:#ffffff;
    font-weight:bold;
}

.week_icon{
    top:8px;
    position:relative;
    left:15px;
    width:25px;
    height:25px;
    display:inline-block;
    background:url(../image/sprite.png) no-repeat -60px -54px;
}

.week_cell .sub_info_title{
    margin-left:15px;
    vertical-align:middle;
    position:relative;
    top:-1px;
    left:2px;
}

.week_cell_empty .wupaiming{
    position:relative;
    top:10px;
    left:55px;
    font-size:12px;
    color:#969696;
}

.hoverlayer,.mhoverlayer{
    width:250px;
    height:135px;
    background-color:#ffffff;
    -webkit-border-radius:5px;
    border:2px solid #0099FF;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
	display:none;
}


.sjrank_title{
    margin-top:5px;
}

.hover_text_red{
    color:#ff0066;
}

.hover_text_dblue{
    color:#0066ff;
}

.hover_text_pink{
    color:#ff33cc;
}

.hover_text_blue{
    color:#3366cc;
}

.hover_text_blue,.hover_text_red,.hover_text_pink,.hover_text_dblue{
    vertical-align:super;
    display:inline-block;
    height:16px;
    line-height:16px;
    margin-left:5px;
    margin-top:5px;
}

.content .icon{
    height:16px;
    width:18px;
    display:inline-block;
    margin-left:20px;
    margin-top:5px;
}

.first{
    background:url(../image/sprite.png) no-repeat -118px -59px;
}
.second{
    background:url(../image/sprite.png) no-repeat -145px -59px;
}

.third{
    background:url(../image/sprite.png) no-repeat -170px -59px;
}

.adjusttext{

} 

.first_col{
	width:110px;
	float:left;
}

.second_col{
	float:left;
	width:120px;

}

.hoverlayer .gift_icon,.mhoverlayer .gift_icon{
    width:15px;
    height:16px;
    background:url(../image/sprite.png) no-repeat -194px -59px;
    display:inline-block;
    margin-left:40px;
}

.tab2_main {
    width: 100%;
    height: 348px;
    background-color:#f6ffff;
}

.tab2_main .zhuboRank{
    width:299px;
    height: 348px;
    display:inline-block;
    float:left;
}

.tab2_main .fansRank{
    width:293px;
    height: 350px;
    display:inline-block;
    float:left;
}

.tab2_main .title {
    width:135px;
    height:30px;
    background:url(../image/sprite.png?xxx)  0 -281px no-repeat;
    margin-top:10px;
    font-weight:bold;
    color:#ffffff;
}

.tab2_main .title span {
    position:relative;
    top:9px;
    left:19px;
}

ul.tab_style {
    width:187px;
    height:20px;
    position: relative;
    left: 20px;
    display:block;
    margin-top: 6px;
    border-bottom: 1px #78a8d5 solid;
    padding:0 36px;
}

ul.tab_style li {
    float:left;
    display:inline;
}

ul.tab_style li a{
    color:#78a8d5;
    width:45px;
    height: 19px;
    line-height: 20px;
    display:block;
    float:left;
}

ul.tab_style li a.active {
    height: 19px;
    line-height: 19px;
    background-color: #f6ffff;
    color:#1c79c2;
    border: thin solid #78a8d5;
    border-bottom-color: #f6ffff;
}

.rankList {
    margin:9px 40px 11px 52px;
    height:266px;
    width:205px;
}

.rankList li {
    width:205px;
    height:20px;
    margin:6px 0;
    line-height: 20px;
}
.tab2_rankList li:nth-child(even) {
    background:#ecf9fc;
}

li.no1 {
    height: 32px;
}

li span {
    color: #78a8d5;
}
.no1 span {
    color: #d62870;
}
.no2 span {
    color: #0b51ef;
}
.no3 span{
    color: #b618ff;
}

.rankList li span:first-child {
    width:17px;
    height:16px;
    display:inline-block;
    font-weight:bold;
    text-align:center;
}

.rankList li span:last-child {
    width: 150px;
    height: 16px;
    display: inline-block;
}

li.no1 span:first-child {
    background:url(../image/sprite.png?xxx) -117px -59px no-repeat;
    position: relative;
    top: -8px;
}

li.no1 span:last-child {
    position: relative;
    top: -11px;
    left: 5px;
}

li.no2 span:first-child {
    background:url(../image/sprite.png?xxx) -143px -59px no-repeat;
}

li.no3 span:first-child {
    background:url(../image/sprite.png?xxx) -168px -59px no-repeat;
}

.little_avatar {
    width:31px;
    height:31px;
    position: relative;
    left: 6px;
    display:inline-block;
    background:url(../image/sprite.png?xxx) -198px -88px no-repeat;
}

.tab4_main {
    width: 100%;
    height: 348px;
    background-color:#f6ffff;
}

.tab4_main .charmRank{
    width:299px;
    height: 348px;
    display:inline-block;
    float:left;
}

.tab4_main .popularityRank {
    width:293px;
    height: 350px;
    display:inline-block;
    float:left;
}

.tab4_main .title {
    width:135px;
    height:30px;
    background:url(../image/sprite.png?xxx)  0 -281px no-repeat;
    margin-top:10px;
    font-weight:bold;
    color:#ffffff;
}

.tab4_main .title span {
    position:relative;
    top:9px;
    left:10px;
}

.nodata{
    text-align: center;
    line-height: 60px;
    color: #77bee8;
}
