.clear_float{
	clear:both;
}
.main_container{
	width:600px;
	height:525px;		
	margin:0 auto;
    background: #4cc2fc url(../image/bg.png) no-repeat;
}

.banner{
	width:600px;
	height:142px;
	overflow:hidden;
}

.person_info{
	float:left;
    width:290px;
	height:100%;
}

img.avatar{
	display:block;
	float:left;
	width:100px;
	height:122px;
	margin-top:5px;
	margin-left:12px;
	border:1px solid #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.pinfo_text_content{
	margin-left:120px;
	margin-top:2px;
}

.person_info .person_name{
	font-weight:bold;
	color:#ffffff;
	font-size:14px;
	line-height:25px;
}

.sub_info_title{
	font-size:12px;
	color:#ffffff;
	line-height:20px;
}

.sub_info_content{
	font-size:12px;
	color:#ff9900;
	line-height:20px;
}

.fo_btn{
	width:100px;
	height:40px;
	background-color:#CC33FF;
	cursor:pointer;
}

.star_rank{
	width:140px;
	height:100%;
	float:left;
}

.star_journey{
	width:170px;
	height:100%;
	float:left;
}

.star_journey .journey_date{
	color:#969696;
	font-size:12px;
}

.tabs{
    padding: 0 5px;
	height:40px;
}

.tab_selected{
	background-color:#ffffff;
	color:#0033CC;
	font-weight:bold;
}

.single_tab span{
	line-height:40px;
	margin:0 auto;
	padding-left:40px
}

.single_tab{
	cursor:pointer;
	width:144px;
	height:40px;
	color:#336699;
	font-weight:normal;
	opacity:0.6;
	margin-right:3px;
	float:left;
}

.main_content{
	margin:0 5px;
	width:590px;
	height:300px;
    background-color: #ffffff;
}

.content{
	display:none;
	width:590px;
}

.cactive{
	display:block;
}

